*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border: 1px solid black;
}

.logo {
  padding: 10px 15px;
  border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  width: 50%;
  border: 1px solid black;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border: 1px solid black;
}

.aside {
  /* background-color: blue; */
  padding: 100px 10px;
  border: 1px solid black
}

.main-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: red; */
  padding: 100px 10px;
  flex-grow: 1;
  border: 1px solid black;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  width: 100%;
  border: 1px solid black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 4px 10px;
}